.body {
	background: #F5F5F5;
}

.story {
	font-family: "tahoma"; sans-serif
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
	font-size:15px;
}

.story_copy {
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
}


.caption {
	font-family: "tahoma", sans-serif; 
	font-size: 13px;
	margin-top: 0px;
	color: gray;

}

.photo_credit {
	font-size: 13px;
	margin-top: 0px;
	color:darkgray;
	font-style: italic;
	max-width: 80%;
}

.photo {
	max-width: 100%;
	margin-top: 10px;

}

.wrapper {
	display: grid;
	grid-template-columns:1fr 1fr;
	gap: 10px;
	margin-top: 10px;
	align-items: center;
}

@media (max-width:700px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}

iframe {
	display:block;
	width:100%;
	border: none;
}

.header {
	margin-bottom: 2px;
	font-size: 35px;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 900px;
	font-weight: bold;
}

.dek {
	font-size: 20px;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 900px;
}

.byline {
	margin-left: 5%;
	margin-right: 5%;
	max-width: 900px;
	margin-top: 10px;
	font-weight: bold;
}

.dateline {
	margin-left: 5%;
	margin-right: 5%;
	max-width: 900px;
	color: gray;
	font-size: 13px;
}

a {
	color: rebeccapurple;
}

